@import url(http://fonts.googleapis.com/css?family=Metrophobic);

.housetopcontainer {
   float: top;
   width: 100%;
}
.housetop {
   text-align: center;
   float: top;
   width: 100%;
   background-color: #2f2f2f;
}
.housetop a {
   font-family:'Metrophobic', sans-serif;
   font-size: 30px;
   color: #f5f5f5;
   text-decoration: none;
}
.housetop span {
   font-family:'Metrophobic', sans-serif;
   font-size: 30px;
   color: #858585;
   text-decoration: none;
}

.housepanel {
   float: left;
   width: 40%;
}

.housepane {
   border-top-right-radius: 18px;
   border-bottom-right-radius: 18px;
   border-top-left-radius: 0px;
   border-bottom-left-radius: 0px;
   -webkit-border-top-right-radius: 18px;
   -webkit-border-bottom-right-radius: 18px;
   -webkit-border-top-left-radius: 0px;
   -webkit-border-bottom-left-radius: 0px;
   -moz-border-top-right-radius: 18px;
   -moz-border-bottom-right-radius: 18px;
   -moz-border-top-left-radius: 0px;
   -moz-border-bottom-left-radius: 0px;
   background-color: darkgreen;
   color: #F0F0F0;
   width: 100%;
}

.housestatus {
   font-family: 'Metrophobic', sans-serif;
   font-size: 20px;
   text-align: left;
   display: inline-table;
   color: white;
}
.housetitle {
   font-family: 'Metrophobic', sans-serif;
   font-size: 25px;
   text-align: left;
}
.houselabel {
    font-family: 'Metrophobic', sans-serif;
    font-size: 20px;
    text-align: left;
}
.housedata {
   font-family: 'Metrophobic', sans-serif;
   font-size: 20px;
   color: white;
}

.housewidetable {
   font-family: 'Metrophobic', sans-serif;
   text-align: left;
   width: 100%;
}

.housewidetable td {
   font-family:'Metrophobic', sans-serif;
   font-size: 20px;
   color: black;
}

.housewidetable td input {
   width: 100%;
   box-sizing: border-box;
}

.houseevent tr:nth-child(even) {
  background-color: #E0E0E0;
}

button:disabled {
   background-color: #808080;
   border: 2px solid #808080;
}

button {
   font-family:'Metrophobic', sans-serif;
   font-weight: 500;
   font-size: 20px;
   border: 2px solid #3673ad;
   padding: 5px;
   margin: 1px;
   border-radius: 5px;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   background-color: #3673ad;
   color: #f5f5f5;
}

select, input[type=text], input[type=number] {
   font-family:'Metrophobic', sans-serif;
   font-weight: 500;
   font-size: 20px;
   border: 2px solid #3673ad;
   padding: 5px;
   border-radius: 5px;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
}

body {background-color: #F5F5F5}
h1 {
   font-family:'Metrophobic', sans-serif;
   font-weight: 700;
   text-align: center;
}

a {
   font-family:'Metrophobic', sans-serif;
   font-size: 20px;
   color: blue;
}

table {border: 0}
tr {border: 0}
th {text-align: center; color: #f5f5f5; background-color: darkgreen}
td {border: 0}

button.controlOn {
    width: 100%;
    padding-top: 22%;
    padding-bottom: 22%;
    border: none;
    color: black;
    background-color: rgb(199,255,51);
}

button.controlOff {
    width: 100%;
    padding-top: 22%;
    padding-bottom: 22%;
    border: none;
    color: white;
    background-color: rgb(51,80,255);
}

button.controlDisabled {
    width: 100%;
    padding-top: 22%;
    padding-bottom: 22%;
    border: none;
    color: white;
    background-color: grey;
}

