@import url(http://fonts.googleapis.com/css?family=Metrophobic);

.housetopcontainer {
   float: top;
   width: 100%;
}
.housetop {
   text-align: center;
   float: top;
   width: 100%;
   background-color: #2f2f2f;
}
.housetop a {
   font-family:'Metrophobic', sans-serif;
   font-size: 30px;
   color: #f5f5f5;
   text-decoration: none;
}
.housetop span {
   font-family:'Metrophobic', sans-serif;
   font-size: 30px;
   color: #858585;
   text-decoration: none;
}


.housewidetable {
   font-family: 'Metrophobic', sans-serif;
   text-align: left;
   width: 100%;
}

.housewidetable td {
   font-family:'Metrophobic', sans-serif;
   font-size: 20px;
   color: black;
}

.houseevent tr:nth-child(even) {
  background-color: #E0E0E0;
}

body {background-color: #F5F5F5}
h1 {
   font-family:'Metrophobic', sans-serif;
   font-weight: 700;
   text-align: center;
}

a {
   font-family:'Metrophobic', sans-serif;
   font-size: 20px;
   color: blue;
}

table {border: 0}
tr {border: 0}
th {text-align: center; color: #f5f5f5; background-color: darkgreen}
td {border: 0}

