Package: houseportal
Architecture: {{arch}}
Depends: 
Description: The HTTP portal to the House suite of web services
 Houseportal is a web server that redirects HTTP requests to multiple
 specialized web micro services. Together they collectively look like
 an integrated web server to the outside.
 .
 This is the portal binary itself. It does not do much on its own: you
 will want to install some more ouse packages.

